<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/styles.css' %}">  <!-- Link to your CSS file if you have one --> {% endcomment %}
</head>
<body>
    <div class="container">
        <h1>Error</h1>
        <p>{{ message }}</p>
        {% comment %} <a href="{% url 'contactusstudent-dashboard' %}">Go back to the homepage</a>  <!-- Link to your homepage or any other page --> {% endcomment %}
    </div>
</body>
</html>
